<div id="tasks-due-today">
  <h2>Tasks Due Today</h2>

  <% if @tasks_today.any? %>
    <ul>
      <% @tasks_today.each do |task| %>
        <li>
          <strong><%= task.name %></strong> (Category: <%= task.category.name %>)
          <br>
          <span>Due Date: <%= task.due_date.strftime('%A, %B %d, %Y') %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No tasks due today!</p>
  <% end %>
</div>
