<div id="<%= dom_id category %>">
  
  <div class="category-name-container">
    
    <h2>
      <%= category.name %>
    </h2>

    <%= link_to  edit_category_path(category), class: "link", id: "edit-category-link" do %>
      <span class="material-symbols-outlined">edit_square</span>
    <% end %>

  </div>

</div>



