

<div class="edit-category-form-group">
  <%= form_with(model: @category) do |form| %>
      <% if @category.errors.any? %>
                          
        <div>
          <% @category.errors.each do |error| %>
            <p class = "error-msg"><%= error.full_message %></p>
          <% end %>
        </div>
                          
      <% end %>
                  
      <%= form.text_field :name,  placeholder: "Title", class: "new-category-text-field" %>
      <%= form.submit "Save", class: "save-button" %>
                  
  <% end %>
</div>
